.container
  %h1 Editing service
  
  = render 'form'
  %p
  = link_to 'Cancel', @service, class: "btn btn-secondary", title: 'Back to Service', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p
