- model_class = Service
.card
  .card-body
    %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize

    = render 'form', service: @service
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), @service, :class => 'btn btn-danger'