.card.card-default
  .card-header
    %h4
      .fa.fa-bell
      %b Activity
  =  render 'dashboard/activity'
%p
.container.table-responsive
  = will_paginate @activities, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
