/%p
/.row
/  .col-xl-4
/    .card
/      .card-header
/        .fa.fa-chart-line
/        New Jobs in the last 30 days
/      .card-body
/        = Job.where('created_at >= ?', 1.month.ago).count
/    %p
/  .col-xl-4
/    .card
/      .card-header
/        .fa.fa-chart-line
/        New Clients in the last 30 days
/      .card-body
/        = Client.where('created_at >= ?', 1.month.ago).count
/    %p
/  .col-xl-4
/    .card
/      .card-header
/        .fa.fa-chart-line
/        Turnover in the last 30 days
/      .card-body
/        = number_to_currency(@total_confirmed_earnings, :unit => "$")
%br
