%p
.text-center
  %iframe{:frameborder => "0", :height => "500", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSe-PFqpellGdJEweUC-FgBhg3U1TwC31A7lK0XOh1CAsBzmmg/viewform?embedded=true", :width => "640"} Loading…
