/- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}
- set_var 'events', @events.map{|e| {title: e.employee.person.to_s  + "/" + e.client.person.to_s, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}

.text-center
  %h1 Calendar
#calendar
