/Развиваем салоны
/We develop salons
/software for managing hair & beauty salons

/HIGHLIGHT A SHIFT IN THE WORLD, NOT A PROBLEM?

/there are more effective ways/tools of running the business
/don't lose clients
/spend less time 


/All in one place
/Be modern, do not stay behind competition
/Your strongest competitors are already using XLPLAN!
/_________________________________
/full setup in 5 days. no special skill required
/_________________________________
/FOR WHOM:
/CRM for service business
/- Private medicine
/- Beauty industry (massage, SPA, tattoo, nails, hair, epilation)
/- Professional services
/tour guides
/professionals service orders
/cleaning
/security
/delivery*
/oral translations
/intimate services
/tutorship (language, dance, sports, music, business-consulting, psychologist, legal consulting, IT consulting)
/_________________________________
/XLPLAN - your personal marketer, admin, accountant, salesman, financial analyst
/_________________________________
/VALUE
/Generate more Money (upsales, loyalty, special offers, event reminders, repeat reminders) / earn more
/Passive
/Control - all info in 1 place. signle source of truth.
/Time (salary calculation, schedule management, audit [jobs, income, expences])
/Growth (analytics = business descisions), instrument for growing your business / Competitive advantage
/
/_________________________________
/Today:
/Excel
/Google calendar
/Diary
/Phone contacts
/Email
/
/Tomorrow:
/XLPLAN
/_________________________________
/Cloud-based software for service business management
/Who choose xlplan
/Focused on service industry needs
/Day 1
/Interviews with your experts, identification of problems and needs
/Day 2
/Onboarding and setup
/Day 3
/Feedback-based fine-tuning
/Day 4
/Software training
/Day 5
/Ready to use
/Full supervised setup in 5 days
/The exact integration period depends on the size of your business, your customer base and inventory amount
/No special skills required
/Data gathered from online booking form participate in forming all financial and analytical reports within the CRM.
/xlplan helps to understand which services and specialists are more in demand and based on this define a strategy of the company development.
/With xlplan you can create personal offers based on customers’ personal profiles.
/With xlplan you can create any report in just few clicks based on 50+ custom criteria; it will provide you with the information required for making strategic business decisions.
/xlplan has been helping business for 8 years now. With our help, business employees and managers save their time for providing better service to their customers and making better decisions based on valuable business data.

.text-center
  %p
  .row
    .col-lg-6
      .text-left
        .display-4
          /= I18n.locale
          = t('.hero')
          /Software that helps service businesses schedule, invoice, and get paid — faster.
          /Cloud-based software for service business management
          /%h3 Event sales & management system
          /%h3 Event scheduling & sales system
          /%h3 Event scheduling & sales. Organised.
          /%h3 Attendance sales & management system
      .text-center
        %p
        = link_to t('.try_for_free'), new_user_registration_path(plan: 'bronze'), class: 'btn btn-lg btn-warning'
        %p
    .col-lg-6
      .embed-responsive.embed-responsive-16by9
        /mrjobber
        /%iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/-Yjx9eAiI2E?rel=0", :width => "560"}
        /xlplan
        %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ojXjR33bPOY?rel=0", :width => "560"}


  %hr
  .display-4
    Say goodbye to paper and excel accounting!
  %p
  .card-deck
    .card
      .my-3.py-3
        %i.fa.fa-calendar-alt{:style => "font-size:200px;color:orange;"}
        %h1
          %span.badge.badge-warning 1
        %h2.display-5
          Your schedule
        %p.lead
          Let your clients book you online. And don't miss an appointment again. 
    .card
      .my-3.py-3
        %i.fa.fa-headset{:style => "font-size:200px;color:orange;"}
        %h1
          %span.badge.badge-warning 2
        %h2.display-5
          Follow up
        %p.lead
          Look silver: Book client's calendar, and send them reminders. 
        %p
        %small.text-muted.container
          How many times did Anna visit? Now you know! See your relationships history.
    .card
      .my-3.py-3
        %i.fa.fa-chart-bar{:style => "font-size:200px;color:orange;"}
        %h1
          %span.badge.badge-warning 3
        %h2.display-5
          Business Analytics
        %p.lead
          For smarter descisions
        %small.text-muted.container
          How much did I earn last month? Who are my most active clients? How many appointments did I have? What's planned?
        %p
        = link_to 'See how xlplan works', new_user_registration_path, class: 'btn btn-warning'
  /%p
  /%hr
  /%p
  /.display-4 Why?
  /%p
  /.card
  /  .card-body
  /    .row
  /      .col-lg-auto
  /        .col-md-12
  /          %i.fa.fa-thumbs-up{:style => "font-size:40px;color:orange"}
  /      .col-lg
  /        .text-left
  /          %h4 Engage
  /          Create a conversation with your audience. Receive feedback on your event.
  /.card
  /  .card-body
  /    .row
  /      .col-lg-auto
  /        .col-md-12
  /          %i.fa.fa-thumbs-up{:style => "font-size:40px;color:orange"}
  /      .col-lg
  /        .text-left
  /          %h4 Prioritize
  /          Because time is limited, speakers can now focus on popular questions.
  /.card
  /  .card-body
  /    .row
  /      .col-lg-auto
  /        .col-md-12
  /          %i.fa.fa-thumbs-up{:style => "font-size:40px;color:orange"}
  /      .col-lg
  /        .text-left
  /          %h4 Bottom of the iceberg
  /          Learn questons that would not be asked otherwise.
  /.card
  /  .card-body
  /    .row
  /      .col-lg-auto
  /        .col-md-12
  /          %i.fa.fa-thumbs-up{:style => "font-size:40px;color:orange"}
  /      .col-lg
  /        .text-left
  /          %h4 Follow-up
  /          Get contact details of interested audience members. Answer unanswered questions later on. 
  %hr
  .display-4 A solution for your business
  %p
  .card-group
    .card
      .card-body
        %i.fa.fa-hand-holding-heart{:style => "font-size:40px;color:orange"}
        %h5.card-title Beauty industy
        %p.card-text Beauty saloon, Barbershop, SPA, Cosmetology, Tattoo
    .card
      .card-body
        %i.fa.fa-hospital{:style => "font-size:40px;color:orange"}
        %h5.card-title Private clinic
        %p.card-text Massage, Dentists, Psychologists, Veterinary
    .card
      .card-body
        %i.fa.fa-user-tie{:style => "font-size:40px;color:orange"}
        %h5.card-title Professional services
        %p.card-text Consulting, Tutors, sports trainers... All your appointments and fees in one place.
  /%p
  /%hr
  /%p
  /.display-4 Core Features
  /%p
  /.card-group
  /  .card
  /    .card-body
  /      %i.fa.fa-cloud-upload.fa-3x{:style => "font-size:50px;color:orange;"}
  /      %h5.card-title In the cloud
  /      %p.card-text
  /        %small.text-muted No installation or download required
  /  .card
  /    .card-body
  /      %i.fa.fa-user-secret.fa-3x{:style => "font-size:50px;color:orange;"}
  /      %h5.card-title Anonimity
  /      %p.card-text
  /        %small.text-muted Participants can comfortably raise questions anonymously.
  /  .card
  /    .card-body
  /      %i.fa.fa-lock.fa-3x{:style => "font-size:50px;color:orange;"}
  /      %h5.card-title Security
  /      %p.card-text
  /        %small.text-muted
  /          Your data is private and encrypted. It is also logically separated from other events.
  /  .card
  /    .card-body
  /      %i.fa.fa-signal.fa-3x{:style => "font-size:50px;color:orange;"}
  /      %h5.card-title Analytics
  /      %p.card-text
  /        %small.text-muted Detaled audience engagement reports.
  /  .card
  /    .card-body
  /      %i.fa.fa-download.fa-3x{:style => "font-size:50px;color:orange;"}
  /      %h5.card-title Export
  /      %p.card-text
  /        %small.text-muted You own your data. Export to PDF and Excel.
  /%p
  /= link_to 'See more features', root_path, class: 'btn btn-warning'
  /%p
  /%hr
  /%p
  /.row
  /  .col-4
  /    .display-4 Don't just take our word for it
  /  .col-8
  /    .row.text-center
  /      /.col
  /      /  = image_tag "pg-xlplan-partner.png", style: 'height:auto;width:75%;', :alt => "pg-xlplan-partner"
  /      .col
  /        = image_tag "xlplan.png", style: 'height:auto;width:75%;', :alt => "startup-weekend-xlplan-partner"
  /      .col
  /        = image_tag "xlplan.png", style: 'height:auto;width:75%;', :alt => "visuality-xlplan-partner"
  /    %p
  /    .row.text-center
  /      .col
  /        = image_tag "xlplan.png", style: 'height:auto;width:75%;', :alt => "ewl-xlplan-partner"
  /      .col
  /        = image_tag "xlplan.png", style: 'height:auto;width:35%;', :alt => "vistula-xlplan-partner"
  /      .col
  /        = image_tag "xlplan.png", style: 'height:auto;width:75%;', :alt => "spark-solutions-xlplan-partner"


/.row
/.text-center.container
/  %h1 Features
/.row
/  .col-md-3
/    %table.table.table-bordered
/      %tr
/        %td
/          .h4
/            .glyphicon.glyphicon-user
/            Manage clients
/          %p CRM
/          %p Sales
/          %p Analytics
/      %tr
/        %td sd
/  .col-md-3
/    %table.table.table-bordered
/      %tr
/        %td
/          .h4
/            .glyphicon.glyphicon-calendar
/            Schedule jobs
/          %p Office & room schedule
/          %p Staff schedule
/          %p Client schedule
/      %tr
/        %td sd
/  .col-md-3
/    %table.table.table-bordered
/      %tr
/        %td
/          .h4
/            .glyphicon.glyphicon-credit-card
/            Sales & invoicing
/          %p (recurring) jobs sales
/          %p Product sales
/          %p Group event sales
/      %tr
/        %td sd
/  .col-md-3
/    %table.table.table-bordered
/      %tr
/        %td
/          .h4
/            .glyphicon.glyphicon-stats
/            Management & Reports
/          %p Staff & salary
/          %p Balance sheet
/          %p Custom reports
/      %tr
/        %td sd
