%p
.text-center
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    .row
      .col-lg
        .display-4
          Software that helps service businesses schedule, invoice, and get paid — faster.
      .col-lg
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/H16ldnm_-ak?rel=0", :width => "560"}
  %br
  = link_to 'Try It Free', new_user_registration_path, class: 'btn btn-lg btn-primary'
  %p
  %hr
  %br
  %footer.mastfoot.mt-auto
    .inner
      %p
        JobDone,
        = Time.now.year
        Powered by
        = succeed "," do
          %a{:href => "https://askdemos.com/"} Askdemos
        = succeed "." do
          %a{:href => "https://twitter.com/yaro_the_slav"} @yaro_the_slav
