- content_for :title do
  XLPLAN | Privacy Policy
.jumbotron.bg-white.text-center
  .display-4 Privacy Policy
.container
  %p I Privacy Policy
  %p We pay special attention to respecting the privacy of users who visit the XLPLAN.com webpage (hereinafter “the Webpage”).
  %p The administrator of your personal data provided on the Webpage is XLPLAN, email contact@xlplan.com (hereinafter “the Administrator”).
  /%p The administrator of your personal data provided on the Webpage is XLPLAN sp. z o.o, located at ul. Cieszyńska 90, 43-300 Bielsko Biała, NIP: 9372676744, REGION: 362795750, KRS: 0000581756, email contact@xlplan.com (hereinafter “the Administrator”).
  %p For matters involving your personal data, please contact the Data Protection Officer, email: contact@xlplan.com
  %p Data you provide or leave for the use of the Webpage is processed by us. This data includes: information you provide to the Administrator, for example, when filling out forms or checkboxes on the Webpage, as well as data left behind in the form of cookies and the IP address of your device.
  %p The Administrator processes data for:
  %p Purpose	Legal Basis	Timeframe
  %p Fulfilling the agreement between the Administrator and the user (hereinafter “the Service”)	Art. 6 (1) lit. b GDPR – requirement for the fulfillment of a contract with you	Until the agreement between you and the Administrator comes to a closure. This data may be processed even after the end of the agreement and if it is permitted under the law, e.g. to redress.
  %p Marketing (in this case for analyzing and profiling data for marketing purposes)	Art. 6 (1) lit. f GDPR – legitimate interests of the Administrator	Until you withdraw
  %p Providing personal data is voluntary, however, without it, services that require this information cannot be offered.
  %p The Service Provider has the right to publish the Customer’s company name, website address and logo on the Service Provider’s client list on the Service Provider’s website unless the Customer expressly objects.
  %p Personal data receivers are: third party entities who deliver and support the Administrator’s ICT systems used for the Administrator’s ongoing operations – under active personal data processing agreements as well as with the use by the above-mentioned entities of adequate technical and organizational resources to ensure data security. Your data may also be provided to authorized third parties, such as law enforcement, to be used in accordance with the current regulations in the event of a request on the appropriate legal basis (e.g. for the needs of ongoing criminal proceedings).
  %p In some cases, if necessary for providing a service requested by you, your data may be transferred to third countries, such as those outside of the European Economic Area. In such a situation, appropriate security measures will be implemented. To receive a copy for your data, contact the Data Protection Officer at dpo@xlplan.com
  %p Your personal data may be profiled.
  %p You have the right to access, edit, and remove your data, as well as limit and object to its processing.
  %p You are entitled to file a complaint to a supervisory body (personal data protection authorities)
  %p If your data is processed with your consent, you may withdraw the consent within the scope of which your data is being processed under. Withdrawal of consent does not affect the lawfulness of the processing that was made on the basis of consent before its withdrawal.
  %p If your data is processed on the basis of consent or as part of the Service (data is necessary to provide the service) you have the right to transfer personal data, i.e. to receive your personal data from the Administrator, in a structured, commonly used machine-readable format. You can transfer your data to another data administrator.
  %p II. Cookies Privacy Policy
  %p 1. Definitions
  %p 
  %p Administrator” means XLPLAN company, which provides electronic services, stores and collects data on the User’s devices.
  /%p Administrator” means XLPLAN sp. z o.o., a company with its registered office at ul. Cieszyńska 90, Bielsko Biała, Poland, operating under the EU VAT number PL9372676744, which provides electronic services, stores and collects data on the User’s devices.
  %p Cookies” means electronic data, in particular small text files, saved and stored on devices used by the User to access the Website.
  %p Administrator Cookies” means Cookies sent by the Administrator in order to provide electronic services through the Website.
  %p Third Party Cookies” means Cookies sent by the Administrator’s partners through the Website.
  %p Website” means a website or an application ran by the Administrator via the xlplan.com domain.
  %p Device” means any computer, terminal, mobile or other electronic device, from which the User can gain access to the Website.
  %p User” means an entity to whom electronic services can be provided in accordance with the Terms of Use and provisions of the law or with whom a contract for the provision of electronic services may be concluded.
  %p 2. Types of cookies used
  %p 
  %p Cookies used by the Administrator are safe for the User’s Devices. In particular, it is not possible for the User’s Devices to be infected with viruses, other unwanted software or malware through the use of Cookies. Cookies enable the system to identify software used by the User and customise the Website for each individual User. Cookies typically contain the name of the domain they come from, storage time on the Device and an assigned value.
  %p The Administrator uses two types of Cookies:
  %p Session Cookies: stored on a User’s Device, session Cookies remain there until a browser session ends. Stored data is then permanently removed from the memory of the Device. Session Cookies are designed in a way which does not allow any personal data or confidential information to be collected from the User’s Device.
  %p Persistent Cookies: stored on the User’s Device, persistent Cookies remain there until they are deleted. Ending the browser session or switching the Device off does not delete them from the Device. Persistent Cookies are designed in a way which does not allow any personal data or any confidential information to be collected from the User’s Device.
  %p Users can restrict or disable Cookies on their Devices. With Cookies disabled, a User will be able to use the Website, except for the features that by their nature require Cookies.
  %p 3. What Cookies are used for
  %p 
  %p The Administrator uses Administrator’s Cookies for the following purposes:
  %p Configuration of the Website
  %p customising the content of the Website according to the User’s preferences and optimising the use of the Website;
  %p identifying the User’s Device and its location to properly display the Website customised to the User’s individual needs;
  %p remembering the settings chosen by the User and customising the user interface, e.g. the User’s language or location.
  %p User authentication on the Website and session maintenance in the system
  %p maintaining a session once the User has logged in, enabling access to all subdomains without the necessity to enter user credentials (login and password)
  %p properly configuring selected functions of the Website, enabling in particular the verification of browser session authenticity;
  %p optimising performance of services provided by the Administrator
  %p Execution of processes required for full functionality of the Website
  %p customising the content of the Website according to the User’s preferences and optimising the use of the Website. In particular, Cookies enable to identify basic parameters of the User’s Device and properly display the Website customised to the User’s individual needs.
  %p ensuring proper handling of the partner program, in particular identifying the sources from users are redirected to the Website
  %p Remembering the User’s location
  %p proper configuration of selected features of the Website, enabling to customise the content based on the User’s location
  %p Analyses and research as well as viewership audits
  %p generating anonymous statistics which help to understand how users of the Website use the pages of the Website, in order to improve the structure and content of these web pages.
  %p The Administrator uses Third Party Cookies for the following purposes:
  %p presenting on the Website content downloaded from an external website:
  %p www.youtube.com [Cookie administrator: Google Inc., USA]
  %p collecting general and anonymous statistical data with the use of the following analytical tools:
  %p Google Analytics [Cookie administrator: Google Inc., USA]
  %p 4. Ways to determine the conditions under which Cookies are stored or used to access information
  %p 
  %p The User can change the Cookie file settings at any time, determining the conditions under which they are stored on the User’s Device and the way they access the User’s Device. These changes can be implemented using the web browser settings. The web browser settings can be changed so as to disable automatic Cookie handling, or to prompt the User every time to accept a Cookie file being downloaded to the User’s Device. Detailed information on managing Cookie files can be found in the web browser settings.
  %p The User can delete Cookies at any time using the features of the web browser used by the User.
  %p Restricting the usage of Cookies can affect some features of the Website.
</div>
= render 'layouts/footer'