.jumbotron.bg-white.text-center
  .display-4
    Security Measures
.container
  %p We appreciate the value of client company data stored in our system. This is why data security and privacy are the number one priority for us.
  %p We have made every effort to ensure the highest possible level of security.
  %p 
  %p Data entered into the system is stored on rigorously protected servers located in guarded premises. The server rooms are compliant with the ISO 27001 security standard and undergo regular SAS 70 audits.
  %p 
  %p Entrusting us with data can be compared to storing valuable possessions in a safe deposit box. Thanks to the fact that we provide service to thousands of users we can ensure a level of security you would not be able to reach on your own.
  %p 
  %p Data loss prevention
  %p To eliminate the risk of data loss or service interruption, our whole infrastructure is based on n+1 redundancy, which means that all components have at least one independent backup component.
  %p 
  %p Copies of your data are stored on multiple servers located in independent premises. If any servers are down you can still access your data.
  %p 
  %p Additionaly, we perform daily backups which are encrypted and stored on another continent. This would enable us to retrieve all data even if some natural disaster affected two separate locations.
  %p 
  %p Protection against unauthorised access to data
  %p All servers are separated from the public Internet by a firewall which allows only traffic necessary to provide the service.
  %p 
  %p Access to data is possible only through an encrypted connection, which prevents third party interception.
  %p 
  %p Each user needs to authenticate with a password. Passwords are stored using one-way encryption. This means only the user knows what the password is.
  %p 
  %p We provide a number of configuration features which enable the administrator to determine different access levels for particular employees. Each operation performed in the system is registered, with the administrator being able to check who made any changes or removed data from the system. Additionaly, data removed or amended by mistake can be retrieved.
  %p 
  %p One of the most interesting features improving security is the customer data protection mode.
  %p 
  %p Safe source code
  %p The source code is written exclusively by our developers (we do not outsource), who have undergone web application security trainings. While creating the system we invariably follow security good practices, making sure to equip it with security measures against all common types of attack. Third party libraries are updated on a regular basis.
  %p 
  %p Compliance with the Data Protection Act
  %p We ensure total compliance with the Data Protection Act.
  %p The system fulfills high-level security requirements, with all procedures undergoing regular third party audits.
  %p 
  %p If you have any questions on security matters, email us at contact@xlplan.com
</div>
= render 'layouts/footer'