.jumbotron.bg-white.text-center
  .display-4 Terms of Service
.container
  %p for services provided via the xlplan.com website
  %p 
  %p By accessing and using the XLPLAN system (“Service”) you agree to be bound by all the following terms and conditions (“Terms Of Service”).
  %p 
  %p 1. Definitions
  %p Service Provider” means XLPLAN company
  /%p Service Provider” means XLPLAN sp. z o.o., a company with its registered office at ul. Cieszyńska 90, Bielsko Biała, Poland, operating under the EU VAT number PL9372676744
  %p Service” means access to the Application which is provided by the Service Provider through its website xlplan.com, under the Terms Of Service, in accordance with the specifications published on the Service Provider’s websites.
  %p Application” means software which enables the performance of the Service, facilitatating management of a service company (in particular a hair salon, a beauty parlour, a tanning salon), installed on the Service Provider’s servers, made available to the Customer on a Customer’s device (computer, tablet or smartphone) via an Internet browser, accessible via an HTTP or HTTPS protocol after logging in with the User’s email address (and/or login) and password.
  %p Customer” means an entity with a sufficient legal capacity, under the provisions of national legislation, to be subject to rights and obligations, which demands the performance of the Service from the Service Provider by filling the electronic registration form available on the Service Provider’s websites.
  %p Account” means the Customer’s individual account which enables the use of the Service. The Account shall be created as per the Customer’s request within available subdomains.
  %p User” means the Customer or the Customer’s employee using the Service and assigned to a particular Account. The Customer’s employee is any person identified by the Customer as the Customer’s employee.
  %p Subscription Fee” means the fee paid in advance by the Customer for the Service performed within the fixed monthly Settlement Period in accordance with the Payment Table, paid via bank transfer or via electronic payment system after the issue of a due accounting document by the Service Provider.
  %p Settlement Period” means a time period between the first and the last day of a month.
  %p Incomplete Settlement Period” means a time period different than the period between the first and the last day of a month.
  %p Force Majeure” means all occurrences which may arise beyond the scope of Service Provider’s power and supervision.
  %p Trial Period” means a time period of 14 consecutive days, counted from the day when a new User receives the confirmation of registration from the Service Provider. Within this time, a new User is entitled to use the Service without an obligation to pay the Subscription Fee.
  %p Subscription Plan” means a scope of Service which should be performed depending on the customer’s choice. Particular Subscription Plans are of different prices
  %p Registration” means filling of the application form by the Customer through the delivery of personal data and its transmission to the Service Provider. After the Registration, the Service Provider contacts the Customer to confirm the data contained in the form.
  %p Agreement” means the present Terms Of Service together with the Payment Table.
  %p Payment Table” means Appendix 1 to the present Terms Of Service which constitutes its integral part. The Payment Table contains information concerning the Subscription Fees (depending on the Subscription Plan) and also the prices for other services performed by the Service Provider. Payment Table is available on the Service Provider’s websites
  %p Cancellation” means a statement made in writing by the Customer (via email or the contact form in the Application), according to which the Customer declares abandonment of the use of the Service.
  %p 2. General provisions
  %p Terms Of Service define the rules of using the Service by the Customer.
  %p By using the Service, the Customer agrees to be bound by the Terms Of Service in their entirety
  %p Access to the Service is provided via the Internet exclusively to registered Users.
  %p Each Customer is entitled to only one Registration.
  %p 3. Customer’s rights and obligations
  %p Customer owns all data stored in the Customer’s Account.
  %p Customer is entitled to free technical support provided via email at support@xlplan.com
  %p Customer is obliged to provide true, accurate and complete data during the registration process.
  %p Customer is obliged to pay the Subscription Fee within the time frames specified in the Terms Of Service in accordance with the selected Subscription Plan.
  %p 4. Service Provider’s rights and obligations
  %p Service Provider is obliged to exercise due diligence to make the Application accessible and operational, for which the Customer pays a monthly Subscription Fee.
  %p Service Provider reserves the right to terminate the Service and to block access to the Customer’s Account under the following circumstances:
  %p submission of false, inaccurate or incomplete data by the Customer, which hinders the recognition of the Customer for the purposes of settling of accounts;
  %p infringement by the Customer of any provision of the Terms Of Service if such infringement prevents or significantly hampers further performance of the Service by the Service Provider;
  %p illegal or contrary to good practice use of Account by the Customer.
  %p Service Provider has a right to update the Application and technical resources used for the performance of the Service and a right to suspend access to the Service during the update process, subject to the provisions of section 8.2.
  %p Service Provider has a right to change the price of the Service. The potential changes come into force since the day of the publication of a new Payment Table on the Service Provider’s websites, wherein the existing customers are bound by the provisions of section 10.
  %p 5. Service ordering and provision, subscription plans, fees
  %p The Service Provider provides Subscription Plans in accordance with the Payment Table.
  %p By filling in and submitting the registration form available on the Service Provider’s websites, the Customer places an order for the Service.
  %p Upon confirming by the Service Provider, or the Service Provider’s employee, the validity of data provided by the Customer during the registration process, the Service is activated for an indefinite period, which results in the commencement of the Trial Period.
  %p The Subscription Fees are prices in British Pounds (GBP) and are exclusive of VAT. The net amount shall be increased by the VAT amount in accordance with the VAT rate in force at the time of issuing the invoice. Any changes in VAT rates do not constitute a change in the Terms Of Use. Any gross prices listed in the Payment Table are only for demonstrative purposes.
  %p The Subscription Fee depends on the Subscription Plan and is listed in the Payment Table.
  %p Payment shall be made via a bank transfer or a payment system to the bank account listed on the pro forma invoice.
  %p In the event of the Customer failing to make a payment for the Subscription Fee during the Trial Period, access to the Service shall be blocked once the Trial Period has ended. Blocking access means that the Customer will not be able to use the Service. In such case the Agreement will expire by the end of the earliest Settlement Period. The Service Provider will store all Customer’s data, subject to the provisions of section 5.18.
  %p In the event of the circumstances referred to in 5.7 above, access to the Service shall be unblocked upon the Customer paying the Subscription Fee for the minimum of one Settlement Period. A Customer who has had access to the Service unblocked is not entitled to a renewed Trial Period.
  %p The Customer is obliged to pay the Subscription Fee for a given Settlement Period according to the selected Subscription Plan in advance, on or before the 10th day of each month. The payment shall be made to the bank account listed on the pro forma invoice generated by the system. Once the payment for the pro forma invoice has been received, the Service Provider shall issue an invoice and send it to the email address provided by the Customer.
  %p In the event of the Trial Period ending on a day different from the last day of the month, if the Customer does not cancel the Service subject to the provisions of section 5.7, the Customer is obliged to pay the Subscription Fee for an Incomplete Settlement Period. The amount due shall correspond to the number of days left in the month. The amount due shall be specified on the generated pro forma invoice.
  %p In the event of the Customer failing to pay the Subscription Fee within the time limit specified in section 5.9, the Service Provider reserves the right to suspend access to the Service after 20 calendar days counting from the last day of the previous Settlement Period.
  %p The Customer authorises the Service Provider to issue VAT invoices and send them via electronic mail subject to the ordinance of the Ministry of Finance of the Republic of Poland dated 14 July 2005, regarding issuing and sending invoices in the electronic form. The Customer also authorises the Service Provider to store such invoices and make them available to tax audit authorities (Polish Journal of Laws of 2005 No. 133 item 1119).
  %p Each invoice shall be issued with the date of the first day of a Settlement Period or an Incomplete Settlement Period for which the payment is made.
  %p The customer has the right to change the Subscription Plan at any time during a Settlement Period.
  %p The amount due to a change of the Subscription Plan will be settled based on the Payment Table, proportional to the time during which the Customer has used a particular Subscription Plan.
  %p In the event of downgrading the Payment Plan from more to less expensive, the Service Provider reserves the right not to return the payment for the Subscription Fee which has been already made. Upon the Customer’s request such payments may be credited to future payments.
  %p The Customer has the right to Cancel the Service at any time. However, Subscription Fees which have been already paid are not returned. The return of paid and not used Subscription Fees subject to section 10.2 is only possible if the Service Provider does not fulfill the duties specified in the Terms Of Use or the Customer has not accepted changes in the Terms Of Use or the Application, provided the change in the Application is related to reducing the number of Application features.
  %p In the event of the Customer cancelling the Service, the Customer is entitled to a copy of data stored on the Customer’s Account. The copy of data shall be created upon the Customer’s request submitted through the administrator’s panel not later than 180 days from the Service Cancellation date. After that time the Service Provider has the right to delete the Account along with all the Customer’s data.
  %p 6. Complaints
  %p The Customer has the right to raise a complaint about the Service at any moment.
  %p The Service Provider shall investigate a complaint within 10 working days unless investigating the complaint within this time limit is not possible or the Customer has not described the complaint in a proper way or not provided details that would enable the Customer’s identification. In such cases the time for investigating the complaint starts on the day in which the Service Provider may, exercising due diligence, reply to a complaint, or on the day in which the Customer provides details which enable the Service Provider to investigate the complaint.
  %p A response to a complaint shall be sent by the Service Provider to an electronic mail address provided by the Customer.
  %p 7. Personal data protection
  %p Information on the rules for personal data processing can be found in the Privacy Policy, which is an integral part of the Terms of Service.
  %p 8. Liability
  %p The Service Provider expressly disclaims any and all liability for any Service interruptions or hindered use in the event of:
  %p circumstances beyond the Service Provider’s control (e.g. an instance of Force Majeure);
  %p need to complete any repairs, modifications or maintenance of the equipment or software used for the provision of the Service. In particular, the Customer is not entitled to any claims if the total duration of the Service being unavailable does not exceed 24 hours within a Settlement Period;
  %p errors or delays in the Service provision, unless the errors or delays are through the fault of the Service Provider;
  %p damages caused by any software (including malware) used by third parties or the Customer.
  %p The liability of the Service Provider for any other damages or losses shall be limited to three times the amount paid for the last Settlement Period. If the total duration of the Service interruption exceeds 24 hours within a Settlement Period and is not caused through the fault of the Customer, the Service Provider, upon the Customer’s written request containing the Customer’s bank account number, shall immediately return the part of Subscription Fee proportional to the relation of the Service interruption duration to the Settlement Period total duration, or shall credit the aforementioned part of the Subscription Fee towards future Settlement Periods, depending on the Customer’s choice.
  %p The Service Provider expressly disclaims any and all liability for any damages or losses sustained by the Customer in relation to malfunction of the servers used to host the Application or in any other circumstances in which the Service Provider is released from liability under the provisions of the Act on Providing Services by Electronic Means.
  %p The Customer is obliged to cover any damages resulting from the Customer’s negligence or actions which are against law, the Terms Of Use, or social conventions, regardless of the Customer’s fault. In particular this means the Service Provider is released from any claims filed by third parties and that the Customer is obliged to cover any expenses incurred by the Service Provider or any other third party as a result of the Customer’s actions, including, but not limited to, filing fees, attorneys’ fees and court costs resulting from the Customer’s use of the Service.
  %p 9. Copyrights and data protection
  %p All materials published on the Website, including the manner in which they are presented (layout) constitute a piece of work within the meaning of the Polish Act of 4 February 1994 on Copyright and Related Rights (consolidated text: Polish Journal of Laws 2006 No. 90, item 631 as amended) and are protected in line with the abovementioned. This right is limited the Service Provider exclusively unless expressly stated otherwise.
  %p Any use, reproduction or distribution of materials referred to in 9.1 requires a written permission from the Service Provider.
  %p 10. Final Provisions
  %p The use of the Service and the Application shall be governed by and construed in accordance with the law of the Republic of Poland.
  %p The Service Provider reserves the right to introduce changes to the Service and the Application, in particular in terms of the content displayed and the functionality offered. The Service Provider also reserves the right to stop offering the Service and/or supporting the Application as well as to introduce changes to the Terms Of Service. The changes in the Terms Of Service will be effective as soon as they are published on the Service Provider’s websites, unless the Customer cancels the Service within 10 working days from the date on which the updates are published. In such case, the Service shall be cancelled at the end of the Settlement Period during which the Customer has cancelled the Service. The same applies to changes in the Payment Table, the difference being that changes become effective on the first day of a Settlement Period which follows the period during which changes in the Payment Table are published.
  %p Subject to the provisions of Article 58 § 3 of the Polish Civil Law in the event of any of the provisions of the Terms Of Service becoming affected by nullity in any respect, all remaining provisions of the Terms Of Service remain valid.
  %p Any disputes between the Parties that may arise from the interpretation and/or implementation of provisions of the Terms Of Service shall be resolved by the common court of law having its jurisdiction over the seat of the Service Provider.
  /%p The original Polish version of TERMS AND CONDITIONS has been translated to other languages. In the event of discrepancies between the Polish version and any versions translated to other languages, the Polish language version shall apply, prevail and be conclusive.
  /%p Payment table
  %p The Terms of Service are enforced from 18/05/2019
</div>
= render 'layouts/footer'