.container
  %h1 Editing employee
  
  = render 'form'
  %p
  = link_to 'Cancel', @employee, class: "btn btn-secondary", title: 'Back to Job', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p
