.container
  %h1 New employee
  = render 'form'
  %p
  = link_to 'Cancel', employees_path, class: "btn btn-danger", title: 'Back to Employee list', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p