- @comments.each do |comment|
  .bg-light.font-weight-light.font-italic
    = comment.created_at.to_s(:long)
    by
    = link_to comment.employee, employee_path(comment.employee)
    .float-right
      = link_to "x", [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
  .bg-light
    %p= comment.content