- model_class = ServiceCategory
.card
  .card-body
    %h5
      .fa.fa-hand-paper
      =t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    %hr
    = render 'form'
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), service_categories_path, :class => 'btn btn-danger'