.container
  %h1 Editing service_category
  
  = render 'form'
  %p
  = link_to 'Cancel', services_path, class: "btn btn-danger", title: 'Back to Service List', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p
