%h1 Listing Service Categories
- if @service_categories.size > 0
  .table-responsive
    %table#table1
      %thead
        %tr
          %th Name
          %th
          %th
    
      %tbody
        - @service_categories.each do |service_category|
          %tr
            %td= service_category.name
            %td= link_to 'Rename', edit_service_category_path(service_category) if policy(service_category).update?
            %td= link_to 'Destroy', service_category, method: :delete, data: { confirm: 'Are you sure?' } if policy(service_category).destroy?

- else
  %p You don't have any yet. Start by creating a Service
  = link_to 'Create Service', new_service_path
