.container
  %h1 New service_category
  
  = render 'form'
  %p
  = link_to 'Cancel', service_categories_path, class: "btn btn-danger", title: 'Back to Service Categories list', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p
