- model_class = Client
.card
  .card-body
    %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    
    = render 'form'
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), @client, :class => 'btn btn-danger'
