- model_class = Client
.row
  .col-lg-3
  .col-lg-6
    .card
      .card-body
        %h5
          .fa.fa-globe-africa
          =t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
        %hr
        = render 'form'
        %p
        = link_to t('.cancel', :default => t("helpers.links.cancel")), @client, :class => 'btn btn-danger'