.container
  %h1 Editing client
  
  = render 'form'
  %p
  = link_to 'Cancel', @client, class: "btn btn-secondary", title: 'Back to Client', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
  %p
