- model_class = Client
.card
  .card-body
    %h4=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
    %hr
    = render 'form'
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), clients_path, :class => 'btn btn-danger'