- set_var 'jobs', @jobs.map{|e| {title: e.service_name.to_s  + "/" + e.member.full_name.to_s  + "/" + e.client.full_name.to_s, start: e.starts_at, end: e.ends_at, url: job_path(e), color: e.color}}

#calendar

.badge.badge-success
  Confirmed
.badge.badge-success
  Confirmed_by_client
.badge.badge-danger
  Not_attended
.badge.badge-secondary
  Rejected_by_us
.badge.badge-secondary
  Cancelled_by_client
.badge.badge-primary
  Planned
.row
