/.row
/  .col-2.text-right
/    %h1.display-6
/      %span.badge.badge-secondary 23
/    %h4 OCT
/  .col-10
/    %h3.text-uppercase
/      %strong Ice Cream Social
/    %ul.list-inline
/      %li.list-inline-item
/        %i.fa.fa-calendar-o{"aria-hidden" => "true"}
/        Monday
/      %li.list-inline-item
/        %i.fa.fa-clock-o{"aria-hidden" => "true"}
/        12:30 PM - 2:00 PM
/      %li.list-inline-item
/        %i.fa.fa-location-arrow{"aria-hidden" => "true"}
/        Cafe
/    %p Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
/  .col-2.text-right
/    %h1.display-6
/      %span.badge.badge-secondary 27
/    %h2 OCT
/  .col-10
/    %h3.text-uppercase
/      %strong Operations Meeting
/    %ul.list-inline
/      %li.list-inline-item
/        %i.fa.fa-calendar-o{"aria-hidden" => "true"}
/        Friday
/      %li.list-inline-item
/        %i.fa.fa-clock-o{"aria-hidden" => "true"}
/        2:30 PM - 4:00 PM
/      %li.list-inline-item
/        %i.fa.fa-location-arrow{"aria-hidden" => "true"}
/        Room 4019
/    %p Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
%head
  :css
    body {
    		background:url(http://www.digiphotohub.com/wp-content/uploads/2015/09/bigstock-Abstract-Blurred-Background-Of-92820527.jpg);
    		}

%br
.container
  = render 'home/calendar'