User types:
Admin
Manager
Specialist
Client
Viewer
Owner

%table
  %thead
    %tr
      %th 
      %th Index
      %th Show
      %th Create
      %th Edit
      %th Delete
  %tbody
    %tr
      %th{:scope => "row"} Jobs
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Clients
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Employees
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Services
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Locations
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Workplaces
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Service_categories
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} User_roles
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Activity
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Stats
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Role_description
      %td
      %td
      %td
      %td
      %td
%br