- model_class = Event
.row
  .col-lg-3
  .col-lg-6
    .card
      .card-header#pills-background
        %h5
          .fa.fa-calendar-alt
          =t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
      .card-body
        = render 'form'
        %p
        = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-danger'
