%p
/.text-center
= link_to 'all listings', booking_list_path
.jumbotron.bg-white.text-center
  %h1= @tenant.name
  %p= @tenant.industry

- set_var 'locale', @tenant.locale
- set_var 'resources', @members.map{|z| {id: z.id, title: z.short_name.to_s}}
/ - set_var 'events', @jobs.map{|e| {id: e.id, title: "XXX", resourceId: e.member_id.to_s, start: e.event.starts_at, end: e.event.ends_at, url: event_path(e.event), color: "grey"}}
- set_var 'events', @events.map{|e| {resourceIds: e.jobs.collect{|r| r.member_id}, title: "BUSY", start: e.starts_at, end: e.ends_at, color: "grey"}}

/.container
#event_calendar
%p