- model_class = CashAccount
.row
  .col-lg-3
  .col-lg-6
    .card
      .card-header#pills-background
        %h5
          .fa.fa-cash-register
          =t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
      .card-body
        = render 'form'
        %p
        = link_to t('.cancel', :default => t("helpers.links.cancel")), cash_accounts_path, :class => 'btn btn-danger'