!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 An event has been created.
    %p Find it at http://mrjobber.herokuapp.com/events
    %p Have a great day!
