/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "fullcalendar";
  @import "bootstrap";
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import 'selectize';
  @import 'selectize.bootstrap3';
  @import 'bootstrap-datepicker';
  @import 'navigation';

#table1 {
  @extend .table, .table-hover, .table-responsive-xl, .table-bordered, .table-sm
}
/* thead { @extend .bg-primary } */  

.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}

.fa-update {
  @extend .fa-edit;
}

.fa-create {
  @extend .fa-plus-square;
}

.fa-destroy {
  @extend .fa-trash;
}

.fa-change_status {
  @extend .fa-calendar-check;
}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		}
