/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "fullcalendar";
  @import "bootstrap";
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import 'selectize';
  @import 'selectize.default';
  @import "tempusdominus-bootstrap-4";
  @import 'bootstrap-datepicker';
  @import 'navigation';
  @import 'scheduler';
  @import 'scheduler.min';
  @import 'scroll_bar';

.fc-agendaDay-view .fc-today { background: white !important; }

.gradient-purple {
  background: linear-gradient(to left, #6610f2 , #2a4054);
}

#body-human {
  background: #f8f0e6;
}

.headimage {
  max-width: 100%;
  padding: 1em;
}

.headimage > img {
  width: 100%;
}

#padding-50 {padding-top: 50px; }

input[type=radio] {
    width: 20px;
    height: 20px;
}

.fc-view-container{
    background-color:white;
}

#table1 {
  @extend .table, .table-hover, .table-responsive-xl, .table-bordered, .table-sm, .bg-white
}
/* thead { @extend .bg-primary } */  

.fa-update {
  @extend .fa-edit;
}

.fa-create {
  @extend .fa-plus-square;
}

.fa-destroy {
  @extend .fa-trash;
}

.fa-change_status {
  @extend .fa-calendar-check;
}

.fa-color-1{
    color: white;
}

.fa-color-green{
    color: #28a745;
}

.fa-color-orange{
    color: orange;
}

.fa-color-indigo{
    color: #6610f2;
}

.navbar {
  background-color: #25364a;
}

.navbar .side-nav > li > a:hover, .navbar .side-nav > li > a:focus {
    background-color: #6610f2;
    color: green;
}

.label-purple {
  background-color: #6610f2;
}
.label-purple[href]:hover,
.label-purple[href]:focus {
  background-color: #6610f2;
}

.btn-purple {
    color: #fff;
    background-color: #6610f2;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open>.dropdown-toggle.btn-purple {
    color: #fff;
    background-color: #340087;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #cacaca;
  border-color: #6610f2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: black;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #cacaca;
  background-color: #6610f2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #acacac;
}

.fc h2 { font-size: 20px; } // fullcalendar title size
.fc-resource-cell { font-size: 10px; } // fullcalendar resource title size
.fc-expander-space {display:none} // fullcalendar timelineDay remove unused space

// fullcalendar sticky navigation
.fc-toolbar.fc-header-toolbar {
    position: sticky;
    top: 70px;
    z-index: 10;
}

// fullcalendar sticky table header
.fc-head-container {
    position: sticky;
    top: 122px;
    z-index: 10;
    background: white;
}