#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
@media(min-width:992px) {
  #wrapper{margin-left: 160px;padding: 70px 15px 15px;}
  .navbar-nav.side-nav{background: #585f66;position:fixed;top:56px;flex-direction: column;left:0;width:160px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}

.side-nav { font-size: 0.9rem; }
.dropdown-menu { width: 100%; background-color: #585f66; border-color: #585f66; font-size: 0.9rem; }

.navbar .side-nav .dropdown-menu > li > a:hover, .navbar .side-nav  .dropdown-menu > li > a:focus {
    background-color: #6f42c1;
    color: green;
}

.navbar-collapse {
  @media (max-width: breakpoint-max(md)) {
    overflow: auto;
    max-height: 85vh;
    align-items: start;
  }
}