- model_class = Transaction
.row
  .col-lg-3
  .col-lg-6
    .card
      .card-body
        %h5
          .fa.fa-hand-holding-usd
          =t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
        %hr
        = render 'form'
        %p
        = link_to t('.cancel', :default => t("helpers.links.cancel")), transactions_path, :class => 'btn btn-danger'