.row
  .col-12
    .card
      .card-header
        Appointments per month
      .card-body
        = line_chart Appointment.group_by_month(:starts_at).count, download: true
%p
.row
  .col-6
    .card
      .card-header
        Appointment Status
      .card-body
        = pie_chart Appointment.group(:status).count, download: true

