.text-center
  %h3 Appointment stats
.row
  .col-12
    .card
      .card-header
        .fa.fa-chart-line
        Appointments per month, quantity
      .card-body
        = line_chart Appointment.group_by_month(:starts_at).count, download: true
%p
.row
  .col-12
    .card
      .card-header
        .fa.fa-chart-line
        Unique clients that visited appointments per month, quantity
      .card-body
        = column_chart Appointment.group_by_month(:starts_at, format: "%b %Y").distinct.count('client_id'), download: true
%p
.row
  .col-6
    .card
      .card-header
        .fa.fa-chart-line
        Appointment Status, share
      .card-body
        = pie_chart Appointment.group(:status).count, download: true

