.row
  .col-6
    .card
      .card-header
        Appointments per Location
      .card-body
        = pie_chart Location.group('appointments_count').count, download: true
  .col-6
    .card
      .card-header
        Jobs per Location
      .card-body
        = pie_chart Location.group(:jobs_count).count, download: true
