- model_class = Location
.card
  .card-body
    %h5
      .fa.fa-map-marker-alt
      =t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
    %hr
    = render 'form'
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), locations_path, :class => 'btn btn-danger'