.card.card-header.bg-warning
  .nav-item
    = link_to start_path, class: "btn btn-sm btn-success" do
      .fa.fa-rocket
      =t ('sidebar.start')
    .row
    %small=t ('dashboard.start.start_description')
%p
