= link_to start_path, class: "btn btn-sm btn-success" do
  .fa.fa-rocket
  =t ('sidebar.start')
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{Tenant.current_tenant.onboarding_percent}", :role => "progressbar", :style => "width: #{Tenant.current_tenant.onboarding_percent}%;"} #{Tenant.current_tenant.onboarding_percent}%
%p
/.card.card-header.bg-warning
/  .nav-item
/    = link_to start_path, class: "btn btn-sm btn-success" do
/      .fa.fa-rocket
/      =t ('sidebar.start')
/      .progress
/        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%;"} 25%
/    .row
/    %small=t ('dashboard.start.start_description')
/%p
/