%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  .navbar-header
    %button.navbar-toggle{"data-target" => ".sidebar-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %span
      %a.navbar-brand{:href => "/"} 
        /%i.fa.fa-dashboard
        myclass24
  .navbar-collapse.collapse.sidebar-navbar-collapse
    .container-fluid
      %ul.nav.navbar-nav
        %li
          %a{:href => "/clients /new"}
            %i.fa.fa-plus
            %i.fa.fa-user
            Job
    #dashboard-darkgreen.dashboard-nav
      %ul.nav.navbar-nav
        %li
          %a{:href => "/clients"}
            %i.fa.fa-user
            Clients
