.card.card-header.bg-warning
  %small
    #{t("devise.registrations.signed_up_but_unconfirmed")} 
    .row
  .clearfix
    .fa.fa-clock
    #{((current_user.created_at + 60.minutes - Time.now)/60).to_i} min
    %b
      Email:
      #{@current_user.email}
    /%small= link_to "#{t("devise.confirmations.new.resend_confirmation_instructions")}", new_user_confirmation_path
%p