#myModal.modal.d-block{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h3#myModalLabel
          Программа Отключена
      .modal-body
        %h3
          Дорогой пользователь, 
          .row
          пробный период пользования программой окончен.
          %p
          Для дальнейшего пользования нужно купить лицензию.
          %p
          %a{:href => "https://www.xlplan.com/pricing/"} Наши тарифы

        .py-4
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} 
          %h2
            Свяжитесь с нами
            = mail_to "support@xlplan.com"
          /%button.btn.btn-primary Save changes
