#myModal.modal.bg-danger.d-block{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h4#myModalLabel
          = Tenant.current_tenant.name
          = plan_label(Tenant.current_tenant.plan)
      .modal-body
        %h4
          Дорогой пользователь, 
          .row
          пробный период пользования программой окончен.
          %p
          Для дальнейшего пользования нужно приобрести лицензию.
          %hr
          .text-center
            %a{:href => "https://www.xlplan.com/pricing/"} Тарифы
          %hr
          .text-center
            Свяжитесь с нами
          .row
          = mail_to "support@xlplan.com"
          .float-right
            = tel_to "+48-537-628-023"
