#myModal.modal.d-block{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h4#myModalLabel
          = Tenant.current_tenant.name
          = plan_label(Tenant.current_tenant.plan)
      .modal-body
        %h4
          Дорогой пользователь, 
          .row
          пробный период пользования программой окончен.
          %p
          Для дальнейшего пользования нужно приобрести лицензию.
          %p
          %a{:href => "https://www.xlplan.com/pricing/"} Тарифы
        .py-4
      .modal-footer
        %h4
          Свяжитесь с нами
          = mail_to "support@xlplan.com"
