<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
    <%= wicked_pdf_stylesheet_link_tag "invoice" %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <meta charset="utf-8"/>
</head>
<body>
    <%= yield %>
</body>
</html>