.nested-fields.clearfix
  /= f.input :service_category_id
  = f.label :skill
  = f.error :service_category_id, class: 'text-danger'
  = f.select :service_category_id, ServiceCategory.all.map{|c| [c.name, c.id]}, {include_blank: true}, class: 'selectize'

  = link_to_remove_association "remove skill", f