/ ONE MEMBER
- set_var 'memberquantity', @memberquantity
- set_var 'locale', Tenant.current_tenant.locale
- set_var 'events', @jobs.map{|e| {id: e.id, title: e.event.client.full_name.to_s + "/" + e.service.name.to_s, resourceId: e.member_id.to_s, start: e.event.starts_at, end: e.event.ends_at, url: event_path(e.event), color: e.event.status_color}}
- set_var 'resources', [id: @member.id, title: @member.short_name.to_s]
.row
  .col-lg-9
    #remote_container
    #event_calendar
    %p
  .col-lg-3
    #datepicker
    - if controller_name == 'members'
      = link_to @org_name, calendar_path
    - else
      %b= link_to @org_name, calendar_path
    .row
    - @members.each do |member|
      .row
      - if @member.present? && @member.id == member.id
        %b= link_to member.short_name, calendar_member_path(member)
      - else
        %small= link_to member.short_name, calendar_member_path(member)
