- model_class = Member
.card
  .card-body
    %h3=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    %hr
    = render 'form'
    %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), @member, :class => 'btn btn-danger'
